@import '../components/Variables/Variables.scss';

.app {
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: calc(100vh - 13rem);
  z-index: 3;
}

footer {
  width: 100%;
  height: 20vh;
  height: auto;
  display: flex;
}

section,
footer,
main {
  z-index: 2;
}

@media (min-width: 468px) {

  .app {
    width: 100%;
    max-width: 1200px;
    overflow-x: hidden;
  }

  footer {
    width: 250px;
    height: auto;
  }

  #carousel {
    height: 100vh;
  }
}

@import "~bootstrap/scss/bootstrap";