@import '../components/Variables/Variables.scss';

#app {
  width: 100%;
  height: auto;
  margin: 0;
}

#header {
  width: 100%;
  height: calc(100vh - 13rem);
  z-index: 3;
}

#form {
  width: 100%;
  height: 100vh;
  margin: auto auto;
}

#skills {
  width: 100%;
  height: fit-content;
  display: flex;
}

#carousel {
  //Estilos gerais do elemento
  @include carouselStyles(100%, 90vh, none, auto);

  div {
    margin: auto;
  }

  z-index: 2;
}

footer {
  width: 100%;
  height: 20vh;
  height: auto;
  display: flex;
}

#start {
  height: 100vh;
}

section,
footer,
main {
  z-index: 2;
}

@media (min-width: 468px) {

  #app {
    max-width: 1200px;
  }

  footer {
    width: 250px;
    height: auto;
  }

  #carousel {
    height: 100vh;
  }
}

@import "~bootstrap/scss/bootstrap";