@import '../Variables/Variables.scss';

//Estilos gerais
.description {
  display: block;
}

.card {
  min-width: 90%;
  object-fit: contain;
  min-height: 60vh;
  max-height: 60vh;
  object-fit: cover;
  margin: 0 auto;
  transform: scale(.9);
  transition: all .2s ease-out;
}

.card:hover {
  transform: scale(1.01);
}

@media (min-width: 468) {
  .card-desktop {
    width: 350px;
  }
}