@import '../Variables/Variables.scss';

//Estilos gerais
.description {
  display: block;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  object-fit: contain;
  min-height: 60vh;
  max-height: 60vh;
  object-fit: contain;
  margin: 0 auto;
  transform: scale(.9);
  transition: all .2s ease-out;

  #card-buttons {
    position: fixed;
    bottom: 25px;
  }
}

.card:hover {
  transform: scale(1.01);
}

@media (min-width: 468) {
  .card-desktop {
    width: 350px;
  }
}