@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import '../Variables/Variables.scss';

.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-left: 10px;
    color: #000;
    font-weight: bolder;
  }

  #responsive-navbar-nav {
    z-index: 3;
  }

  .menu-item {
    width: fit-content;
    padding: 0;
  }

  .menu-item:hover {
    color: chartreuse;
  }

  .navbar-toggle {
    border: none;
    border-radius: 0;
    padding: 10px;
    background-color: #000;

    #mob-icon {
      width: 42px;
      height: 42px;
    }
  }

  .navbar-toggle:active {
    border: none;
  }
}

.navbar.colorChange {
  background-color: #000;
}