@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import '../Variables/Variables.scss';

.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-left: 10px;
    color: aqua;
    font-weight: bolder;
    text-shadow: $textShadow;

    span:hover {
      color: rgb(86, 255, 142);
    }
  }

  .navbar-brand:hover {
    color: aquamarine;
  }

  .navbar-brand span {
    color: rgb(204, 204, 204);
  }

  #responsive-navbar-nav {
    z-index: 3;
  }
}

.navbar.colorChange {
  background-color: #000;
}