@import '../Variables/Variables.scss';

#projetos {
  //Estilos flex
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  //Estilos gerais do elemento
  @include carouselStyles(95vw, auto, none, $textShadow);
}