@import '../Variables/Variables.scss';

#projects {
  //Estilos flex
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  z-index: 2;

  .card-buttons {
    a {
      width: 100%;
    }
  }

  //Estilos gerais do elemento
  @include carouselStyles(95vw, auto, none, $textShadow);

  .btn-light,
  .btn-outline-success {
    transition: all .1s ease-in-out;
    border-radius: 0;
  }

  .btn-light:hover,
  .btn-outline-success:hover {
    transform: scale(1.07) skew(-1deg, -1deg);
  }

  .btn-outline {
    background-color: rgb(72, 255, 0);
  }
}