@import '../Variables/Variables.scss';

#footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  #medias {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    align-items: center;
  }
}

#icons {
  height: 20vh;

  svg {
    width: 40px;
    height: fit-content;
    margin: 5px;
  }
}

p {
  margin: 5px;
}

#contact {
  font-size: 1rem;
  color: $lightColor;

  a {
    text-decoration: none;
    color: $lightColor;
    opacity: .7;
  }

  a:hover {
    opacity: 1;
  }
}