#habilities {
  width: 100%;
  /* min-height: 90h; */
  height: fit-content;
  min-height: 85vh;
  padding: 0 5%;
}

.skillIcon {
  width: 10%;
  height: auto;
  margin: 7%;
}

@media (min-width: 605px) {
  .skillIcon {
    width: 70px;
    margin: 7%;
    height: auto;
  }

  .container-icons {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 968px) {
  .skillIcon {
    width: 70px;
    margin: 5% 4%;
    height: auto;
  }

  .container-icons {
    width: 50%;
    margin: 0 auto;
  }
}