.container-icons {
  width: 100%;
  height: auto;
}

.skillIcon {
  width: 50px;
  height: auto;
  margin: 10px;
}

@media (min-width: 605px) {
  .skillIcon {
    width: 70px;
    margin: 30px;
    height: auto;
  }

  .container-icons {
    width: 60%;
    height: 50vh;
    margin: 0 auto;
  }
}